<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p>百里守约</p>
</div>
<div class = 'song'>
    <p>李清照</p>
     <p>王安石</p>
        <p>苏轼</p>
        <p>柳宗元</p>
    <a href="http://www.song.com/" title="赵匡胤" target="_self">
        <span> this is span </span>
        宋朝比较强大，只是经济比较好，军队若饥一个

    </a>
    <a href="" class ='du'> 不为2浮云能蔽日，长安不见使人愁</a>
    <img src="http://www.baidu.com/meinv.jpg" alt=""/>
</div>

<div class = 'tang'>
    <p>李白</p>
     <p>王安石</p>
        <p>苏轼</p>
        <p>柳宗元</p>
    <a href="http://www.song.com/" title="赵匡胤" target="_self">
        <span> this is span </span>
        宋朝比较强大，只是经济比较好，军队若饥一个

    </a>
    <a href="" class ='du'> 不为2浮云能蔽日，长安不见使人愁</a>
    <img src="http://www.baidu.com/meinv.jpg" alt=""/>
</div>

</body>
</html>